
*.xlsx

electron web app/node_modules
sample/node-opcua
IP-management/venv
IP-management/IPmanagement/IPmanagement/__pycache__/
IP-management/IPmanagement/manager/__pycache__/
IP-management/IPmanagement/manager/migrations
IP-management/IPmanagement/db.sqlite3
out.sql
