
*.xlsx

electron web app/node_modules
sample/node-opcua
IP-management/venv
IP-management/IPmanagement/IPmanagement/__pycache__/
IP-management/IPmanagement/manager/__pycache__/
IP-management/IPmanagement/manager/migrations
IP-management/IPmanagement/db.sqlite3
out.sql
python opc/book.xlsm
python opc/__pycache__/COM-server.cpython-311.pyc
.vscode/launch.json
python opc/~$book.xlsm
RP5/~$ue pelle.doc
.gitignore
RP5/logigrame des défaut Roue pelle.docx
RP5/roue pelle_ exemple.doc
RP5/roue pelle.doc
.gitignore
RP5/rapport PFE3.doc
RP5/GRAFCET DE MISE EN MARCHE ET.docx
RP5/Youness _Rapport Roue pelle2.docx
RP5/RAPPORT DE PRODUCTION/~$Rapport  journalier PW 22-04-2023.xlsm
RP5/RAPPORT DE PRODUCTION/Rapport  journalier PW 22-04-2023.xlsm
ocp.pdf
