<!DOCTYPE html>
<html>
<head>
<title> hello lol </title>
{% block header %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
<script src="https://jsuites.net/v4/jsuites.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
{% endblock %} 
</head>

<body>
  {% block content %} 
  <h3>IP DATABASE</h3>
    <div id = 'search-fields'>
      <div class="search-bar">
        <span> IP address </span>
        <input class="user-input" id="IP-search" placeholder="Search">
      </div>
      <div class="search-bar">
        <span> MAC address </span>
        <input class="user-input" id="MAC-search" placeholder="Search">
      </div>
      <div class="search-bar">
          <span> Comment </span>
          <input class="user-input" id="comment-search" placeholder="Search">
      </div>
    </div>

      <div id="results-sheet">
        <div id="spreadsheet"></div>
      </div>

  {% endblock %}
</body>
{% block footer %}
{% load static %}
<script type="text/javascript" src="{% static "javascript/main.js" %}"></script>
<link rel="stylesheet" href=" {% static "style/styles.css" %}">
{% endblock %}

</html>